doctype html
html
    head
        title Home
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="style.css")           


    body 
        header.index-header
            ul.nav
                li.logo
                    a(href="/") 
                        img(src="img/logo.png" alt="logo" height="70px" width="70px")
                        span EXPRESS 
                        |SERVER.
                        

                li
                    a(href="#Contact") CONTACT
            
                li
                    a(href="#About") ABOUT
                li
                    a(href="#Blog") BLOG
                li
                    a(href="#Projects") PROJECTS
                li
                    a(href="#content.pug") HOME
            div.title-box
                h1 EXPRESS SERVER 
                p.
                    BACKEND WEB APPLIACTION
                    
                a(href='#').btn-explore Explore