doctype html
html
    head
        title Home
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style.
                    *{
                    box-sizing: border-box;
                    margin: 0;
                    padding:0;

                    }


                    body{
                    font-size: 1em;
                    font-family: Tahoma, sans-serif;
                    height: auto;
                    position: relative;
                    width: 100%;
                    margin:0 auto;


                    }



                    .nav{
                    width:100%;   

                    font-size: 100%;

                    align-content: center;
                    position: fixed;
                    background-color:transparent;
                    height: 80px;
                    padding-right: 2%;
                    z-index: 2;
                    top:0px;

                    }

                    .nav li{ 
                    padding :20px 20px 15px 20px;
                    margin:20px 25px 5px 30px;
                    float :right;
                    display: inline-block;
                    position: relative;


                    }

                    .nav li a{ 
                    text-decoration: none;
                    color : white;

                    }

                    .nav li:hover{ 
                    border-bottom:2px solid #1c9e75;
                    transition: color 0.2s ease-in;

                    }





                    .nav .logo:hover {
                    border :none;
                    }
                    .nav .logo{


                    position: relative;
                    float: left;
                    height: 70px;
                    overflow: hidden;
                    margin-left :5%;
                    margin-top:10px;
                    font-size: 160%;
                    transition: margin 1s ease-in;
                    }
                    .logo span{
                    color:#1c9e75;
                    }

                    .logo img{
                    vertical-align: middle;
                    max-width:100%;
                    margin-top:-25px;

                    }

                    .index-header { 
                    max-width:100%;
                    overflow: hidden;
                    position: relative;
                    padding : 0px 0;

                    background: rgb(240, 240, 240);
                    height:100vh;
                    background-image: linear-gradient(#0f0f0f8a, #1f1f1f91),url(img/wallpaper.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    }



                    .title-box{
                    display: flex;
                    flex-direction: column;

                    align-items: center;
                    width:100;
                    z-index: 1;
                    color:#fff;
                    text-align: center;
                    font-size: 120%;

                    }

                    .title-box h1{

                    width:100%;
                    margin-bottom:40px;
                    font-family: 'Spectral', serif;
                    font-weight: 400;
                    font-size: 260%;

                    }

                    .title-box p{
                    font-family: 'Spectral', serif;
                    font-size: 130%;
                    margin-bottom: 35px;
                    font-weight: bold;
                    }


                    .btn-explore{
                    color:#ffffff; 
                    text-decoration: none;
                    background-color:#1C9E75;
                    padding:15px 30px;
                    border-radius: 6px;
                    font-size: 110%;
                    font-weight: 300;
                    text-align: center;
                    }
                    .btn-explore::before{
                    content: '\229A';
                    font-size: 120%;
                    position: relative;
                    left: -8px;

                    }

                    .btn-explore:hover{ 
                    color:#2b2b2b;
                    }
                            


    body 
        header.index-header
            ul.nav
                li.logo
                    a(href="/") 
                        img(src="img/logo.png" alt="logo" height="70px" width="70px")
                        span EXPRESS 
                        |SERVER.
                        

                li
                    a(href="#Contact") CONTACT
            
                li
                    a(href="#About") ABOUT
                li
                    a(href="#Blog") BLOG
                li
                    a(href="#Projects") PROJECTS
                li
                    a(href="#content.pug") HOME
            div.title-box
                h1 EXPRESS SERVER 
                p.
                    BACKEND WEB APPLIACTION
                    
                a(href='#').btn-explore Explore